version: '2'
services:
  ingestfrontend:
    container_name: ingestfrontend
    build:
      context: .
      dockerfile: Dockerfile.wsgi
    links:
     - uniqueid:uniqueid
     - ingest_metadataserver:metadataserver
     - ingest_archiveinterface:archiveinterface
     - ingest_policyserver:policyserver
     - ingestrabbit:ingestrabbit
     - ingestmysql:ingestmysql
    ports:
     - 8066:8066
    volumes:
     - /tmp/ingest:/srv
    environment:
      VOLUME_PATH: /srv
      BROKER_SERVER: ingestrabbit
      MYSQL_PORT_3306_TCP_ADDR: ingestmysql

  ingestbackend:
    container_name: ingestbackend
    build:
      context: .
      dockerfile: Dockerfile.celery
    links:
     - uniqueid:uniqueid
     - ingest_metadataserver:metadataserver
     - ingest_archiveinterface:archiveinterface
     - ingest_policyserver:policyserver
     - ingestrabbit:ingestrabbit
     - ingestmysql:ingestmysql
    volumes:
     - /tmp/ingest:/srv
    environment:
      VOLUME_PATH: /srv
      BROKER_SERVER: ingestrabbit
      MYSQL_PORT_3306_TCP_ADDR: ingestmysql      

  ingestmysql:
    image: mysql
    container_name: ingestmysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pacifica_ingest
      MYSQL_USER: ingest
      MYSQL_PASSWORD: ingest
    ports:
     - 3306:3306

  ingestrabbit:
    image: rabbitmq
    container_name: ingestrabbit
    ports:
     - 5672:5672

  uniqueidmysql:
    image: mysql
    container_name: uniqueidmysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pacifica_uniqueid
      MYSQL_USER: uniqueid
      MYSQL_PASSWORD: uniqueid

  uniqueid:
    image: pacifica/uniqueid
    container_name: uniqueid
    links:
      - uniqueidmysql:mysql
    ports:
      - 8051:8051
    environment:
      MYSQL_ENV_MYSQL_DATABASE: pacifica_uniqueid
      MYSQL_PORT_3306_TCP_ADDR: mysql
      MYSQL_PORT_3306_TCP_PORT: 3306
      MYSQL_ENV_MYSQL_USER: uniqueid
      MYSQL_ENV_MYSQL_PASSWORD: uniqueid

  ingest_archiveinterface:
    image: pacifica/archiveinterface
    container_name: ingest_archiveinterface
    ports:
      - 8080:8080

  ingest_policyserver:
    image: pacifica/policy
    container_name: ingest_policyserver
    links:
      - ingest_metadataserver:metadata
    ports:
      - 8181:8181
    environment:
      METADATA_PORT: tcp://metadata:8121

  ingest_metadatadb:
    image: postgres
    container_name: ingest_metadatadb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pacifica_metadata
      POSTGRES_USER: metadata

  ingest_metadataserver:
    image: pacifica/metadata
    container_name: ingest_metadataserver
    links:
      - ingest_metadatadb:postgres
      - ingest_elasticmaster:elasticdb
    ports:
      - 8121:8121
    environment:
      ELASTICDB_PORT: tcp://elasticdb:9200
      POSTGRES_ENV_POSTGRES_DB: pacifica_metadata
      POSTGRES_ENV_POSTGRES_USER: metadata
      POSTGRES_PORT_5432_TCP_ADDR: postgres
      POSTGRES_PORT_5432_TCP_PORT: 5432
      POSTGRES_ENV_POSTGRES_PASSWORD: password

  ingest_elasticmaster:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.5.1
    container_name: ingest_elasticmaster
    environment:
      - cluster.name=pacifica-cluster
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    ports:
      - 9200:9200

  ingest_elasticslave:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.5.1
    container_name: ingest_elasticslave
    environment:
      - cluster.name=pacifica-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
      - discovery.zen.ping.unicast.hosts=ingest_elasticmaster
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g

  ingest_elasticlb:
    image: dockercloud/haproxy
    links:
      - ingest_elasticslave:elasticslave
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock


# Upload status
  ingest_uploadstatus:
    container_name: ingest_uploadstatus
    build:
      context: ../upload-status
      dockerfile: Dockerfile.dev
    volumes:
      - ./:/var/www/html
    links:
      - ingest_metadataserver:metadata
      - ingest_policyserver:policy
      # - cartserver:cart
      - ingest_uploadstatusdb:cartdb
      # - ingest_archiveinterface:archivei
    environment:
      METADATA_PORT: tcp://metadata:8121
      POLICY_PORT: tcp://policy:8181
      ARCHIVE_PORT: tcp://archivei:8080
      CART_PORT: tcp://cart:8081
      CARTDB_ADDR: cartdb
      CARTDB_PORT: 5432
      CARTDB_USER: pacifica
      CARTDB_PASSWORD: pacifica
      CARTDB_DB_NAME: pacifica_upload_status
      CARTDB_DBDRIVER: postgre
      CART_DOWNLOAD_PORT: tcp://cartng.emsl.pnl.gov:8443
      FILE_DOWNLOAD_PORT: tcp://filesng.emsl.pnl.gov:8443

  ingest_uploadstatusdb:
    container_name: ingest_uploadstatusdb
    image: postgres
    environment:
      POSTGRES_PASSWORD: pacifica
      POSTGRES_DB: pacifica_upload_status
      POSTGRES_USER: pacifica
    ports:
      - 55432:5432
